/* Основной цвет текста #212121; */
/* Второстепенный цвет текста #757575;*/
/* Черный #000000; */
/* Белый #ffffff;*/
/* Цвет акцент #2196F3; */
/* Белый прозрачный rgba(255, 255, 255, 0.6) */

:root{
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#ffffff;

}
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* Header */
.header{
    background-color: #ffffff;
}
/* Site nav */

.logo {
    color: var(--accent-color);
}
.logo-blackname {
    color: #000000;
}
.site-nav .link{
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
/* Contact header */
.contact .link{
    color: var(--title-text-color);
}

.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);

}

/* Footer */
.footer{
    background-color: #2F303A;
}
.logo-whitename{
    color: var(--primary-white-color);
}
.address{
    color:var(--primary-white-color);
}

.footer-contact{
    color: rgba(255, 255, 255, 0.6);
}